# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Second Wind
title_separator: "|"
subtitle: "Oct 21-22 2023. Alarmist Brewery, Chicago"
email:
description: >- # this means to ignore newlines until "baseurl:"
  Join Alfredo's Size 3 Taco Truck and the Chicago MCP community at Alarmist Brewing for the Third annual Second Wind Tournament! 
  Enjoy two days of exciting Marvel Crisis Protocol action and great drinking in the Windy City at this 64-player MCP tournament. 
  Featuring an incredible prize pool, a raffle, and many of the US's best players. 
  Whether you're a friendly neighborhood player or an omega level threat, come warm up with a strong beer and play some Marvel Crisis Protocol!
minimal_mistakes_skin: neon
search: false
teaser: /assets/images/bio-photo.jpg
logo: /assets/images/second_wind_logo_cropped.png
og_image: /assets/images/Scond_Wind_5_Logo_Clear_Cropped.png

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Second Wind"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Oct 21-22 2023. Alarmist Brewery, Chicago"
  links:
    # - label: "Website"
    #   icon: "fas fa-fw fa-link"
    #   url: "https://"

footer:
  links:
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: "https://twitter.com/"

toc: true

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
