---
layout: single
author_profile: true
---

{{ content }}

<h2 class="archive__subtitle">About</h2>

Join Alfredo's Size 3 Taco Truck and the Chicago MCP community at Alarmist Brewing for the Third annual Second Wind Tournament! Enjoy two days of exciting Marvel Crisis Protocol action and great drinking in the Windy City at this 64-player MCP tournament. Featuring an incredible prize pool, a raffle, and many of the US's best players. Whether you're a friendly neighborhood player or an omega level threat, come warm up with a strong beer and play some Marvel Crisis Protocol!<br/>
<br/>
DATE: October 23-24, 2021<br/>
<br/>
LOCATION: Alarmist Brewing Taproom, 4055 W. Peterson Avenue, Chicago, IL 60646<br/>
<br/>
PLAYERS: Hard cap at 64!<br/>
<br/>
SWAG: Every player who participates will be competing for prizes for placing, best-in-affiliation, best painted, and more, many of which will be CUSTOM MADE by Pat Van Value. Every player will also be entered into a prize raffle!<br/>
<br/>
FOOD: Saturday will have a catered lunch after round one! Sunday players will be on their own for finding lunch. There are several nearby places that will deliver to the brewery.<br/>
<br/>
Longshanks: <a href="https://www.longshanks.org/events/detail/?event=4169">https://www.longshanks.org/events/detail/?event=4169</a><br/>
Facebook:<br/>
<br/>
Please feel free to ask for any additional information on any of the above event pages and we will get back to you ASAP.<br/>