---
layout: splash
author_profile: false
---
<style type="text/css">
    .page__content {
        width: 80%;
        margin: auto;
    }
</style>

<img src="/assets/images/Scond_Wind_5_Logo_Clear.png" alt="Banner image">

{{ content }}



<h2 class="archive__subtitle">About</h2>

Join Alfredo's Size 3 Taco Truck and the Chicago MCP community at Alarmist Brewing for the fifth Annual Second Wind Tournament! Enjoy two days of exciting Marvel: Crisis Protocol action and great drinking in the Windy City at this 64-player MCP tournament. Featuring an incredible prize pool, a raffle, and many of the US's best players. Whether you're a friendly neighborhood player or an omega level threat, come warm up with a strong beer and play some Marvel: Crisis Protocol!<br/>
<h4>Format:</h4>
Second Wind is a Challenger Event following the Standard timeline (full details <a href="/rules/">here</a>)
<h4>Date:</h4>
October 21st-22nd 2023
<h4>Location:</h4>
Alarmist Brewing Taproom, 4055 W. Peterson Avenue, Chicago, IL 60646<br/>
<h4>Players:</h4> 
Hard cap at 64!<br/>
<h4>Longshanks:</h4> 
<a href="https://longshanks.org/event/8141">https://longshanks.org/event/8141</a><br/>
<h4>Swag:</h4> 
Every player who participates will be competing for prizes for placing, best-in-affiliation, best painted, and more, many of which will be CUSTOM MADE by Pat Van Value. Every player will also be entered into a prize raffle!<br/>
<figure class="half">
    <a href="/assets/images/swag01.jpg" title="Best in affiliation tokens" class="image-popup">
        <img src="/assets/images/swag01.jpg" alt="Best in affiliation tokens">
    </a>
    <a href="/assets/images/second_wind_prizes_1.jpg" title="Prize support" class="image-popup">
        <img src="/assets/images/second_wind_prizes_1.jpg" alt="Prize support">
    </a>
    <a href="/assets/images/second_wind_prizes_2.jpg" title="Prize support 2" class="image-popup">
        <img src="/assets/images/second_wind_prizes_2.jpg" alt="Prize support 2">
    </a>
    <a href="/assets/images/prize_table.jpg" title="Prize table" class="image-popup">
        <img src="/assets/images/prize_table.jpg" alt="Prize table">
    </a>
  <figcaption></figcaption>
</figure>
<h4>Food:</h4> 
Saturday will have a catered lunch after round one! Sunday players will be on their own for finding lunch. There are several nearby places that will deliver to the brewery.<br/>
<h4>Sponsors:</h4> 
<a href="https://twitter.com/AlfredosTaco" target="_blank"><img src="/assets/images/size3.png" width="125" height="125"/></a>
<a href="https://www.adepticon.org/" target="_blank"><img src="/assets/images/adepticongeneral-600x600.png" width="125" height="125"/></a>
<a href="https://grognardgames.com/" target="_blank"><img src="/assets/images/Grognard-Logo-Shield-Red-High_-_Todd_Warren_231x.jpg" width="125" height="125"/></a>
<a href="https://www.krcases.com/" target="_blank"><img src="/assets/images/kr-logos12.png" width="125" height="125"/></a>
<a href="https://www.longshanks.org/" target="_blank"><img src="/assets/images/LS_logo.png" width="125" height="125"/></a>
<a href="https://matsbymars.com/" target="_blank"><img src="/assets/images/matsbymars.jpg" width="125" height="125"/></a>
<a href="https://monumenthobbies.com/" target="_blank"><img src="/assets/images/monument_hobbies.png" width="125" height="125"/></a>
<a href="https://mr-laser.square.site/" target="_blank"><img src="/assets/images/MR_Laser.png" width="125" height="125"/></a>
<a href="https://www.museonstore.com/" target="_blank"><img src="/assets/images/muse.png" width="125" height="125"/></a>
